:root {
  --primary-color: hsl(180, 29%, 50%);
  --background-color: hsl(180, 52%, 96%);
  --filter-table-color: hsl(180, 31%, 95%);
  --dark-cyan: hsl(180, 8%, 52%);
  --very-dark-cyan: hsl(180, 14%, 20%);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color) no-repeat center;
  font-size: 15px;
}
header {
  width: 100%;
  min-height: 100px;
  background-image: url("./images/bg-header-desktop.svg");
}

.filterArea {
  width: 80%;
  min-height: 60px;
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: -35px auto 0px auto;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.filterArea.active {
  display: flex;
}

.filterArea #filters {
  display: flex;
  flex-wrap: wrap;
}

.filterArea #filters .filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 8px;
  border-radius: 4px;
  height: 24px;
  width: min-content;
  font-size: 11px;
  background: var(--filter-table-color);
  justify-content: space-between;
  margin-top: 8px;
}
.filterArea #filters .filter p {
  height: min-content;
  margin: 0;
  color: var(--primary-color);
  font-weight: 700;
}
.filterArea #filters .filter a {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-weight: 700;
  width: 24px;
  height: 100%;
  margin-left: 8px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterArea #filters .filter a:hover {
  background-color: var(--very-dark-cyan);
}

.filterArea .clearFilters {
  color: var(--dark-cyan);
  background-color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.filterArea .clearFilters:hover {
  color: var(--very-dark-cyan);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: (var(--filter-table-color));
}

main .component-job {
  margin-top: 100px;
}
main .component-job {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: max-content;
  padding: 10px;
  background-color: white;
  position: relative;
  box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

main .component-job.active {
  border-left: 3px solid var(--primary-color);
  border-radius: 8px 0 0 8px;
}

main .component-job .job-props {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

main .component-job .job-props .company-image {
  width: 64px;
  height: 64px;
  margin-top: -50px;
}

main .component-job .job-props .company-image img {
  max-width: 100%;
  max-height: 100%;
}
main .component-job .job-props .job-details {
  flex-direction: column;
}

main .component-job .job-props .job-details .company-props {
  display: flex;
  align-items: center;
}

main .component-job .job-props .job-details .company-props p,
span {
  padding-right: 5px;
  font-weight: 700;
}

main .component-job .job-props .job-details .company-props p {
  color: var(--primary-color);
}

main .component-job .job-props .job-details span {
  border-radius: 16px;
  padding: 5px 10px;
  margin-left: 5px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}
main .component-job .job-props .job-details #new {
  background-color: var(--primary-color);
  color: white;
}

main .component-job .job-props .job-details #featured {
  background-color: var(--very-dark-cyan);
  color: white;
}

main .component-job .job-props .job-name-area p {
  font-weight: 700;
  margin: 0;
}

main .component-job .job-props .job-details .job-especifications {
  display: flex;
  align-items: center;
}

main .component-job .job-props .job-details .job-especifications::after {
  content: "";
  background-color: var(--dark-cyan);
  width: 90%;
  height: 1px;
  position: absolute;
  margin-top: 50px;
}

main .component-job .job-props .job-details .job-especifications p {
  padding-right: 20px;
  color: var(--dark-cyan);
}

main
  .component-job
  .job-props
  .job-details
  .job-especifications
  p:not(:last-child)::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dark-cyan);
  position: absolute;
  margin: 9px;
}

main .component-job .job-tecnologys {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

main .component-job .job-tecnologys span {
  font-size: 13px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 8px;
  margin: 10px 10px 0 0;
}

.pagination {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  text-align: center;
}

.pagination p {
  color: var(--primary-color);
}

.pagination p:hover {
  color: var(--very-dark-cyan);
  cursor: pointer;
}

.attribution {
  padding: 50px;
  width: 100%;
  text-align: center;
}

@media (min-width: 700px) {
  main .component-job {
    flex-direction: row;
  }
  
  main .component-job .job-props .company-image{
    margin: 0 20px 0 0;
  }

  main .component-job .job-props{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  
  main .component-job .job-tecnologys{
    align-items: center;
    justify-content: flex-end;
  }

  main .component-job .job-props .job-details .job-especifications::after{
    display: none;
  }
  
}